// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Pier Sans';
	src: url("/assets/pier-regular.otf") format("opentype");
}

@font-face {
	font-family: 'bariol';
	src: url('/assets/Bariol.woff') format('woff');
}

html, body {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: 'Pier Sans';
	
	text-align: center;
}

.input-login-page{
	width: 90%;
	height: 25px;
	margin: none;
	margin-left: 5%;
	
	background-color: transparent;
	
	border: none;
	border-bottom: 1px solid #666666;
	
	color: #666666;
	
	transition: 0.3s all ease;
}
.input-login-page:focus {
	color: #384587;
	border-bottom: 1px solid #384587;
}

.fundo {
	height: 100%;
	width: 100%;
	
	font-family: 'bariol';
	
	background-image: url("/assets/banner-home.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	margin-top: 0px;
}

.pilar {
	height: 100%;
	width: 30%;
	min-width: 300px;
	margin: auto;
	margin-top: 0px;
	
	background-color: rgba(244, 244, 244, 0.95);
	
	opacity: 0.9;
	
	transition: 0.3s all ease;
}
.pilar:hover {
	opacity: 1;
}

.formulario {
	height: 50%;
	width: 100%;
	margin: auto;
	
	padding-top: 30%;
}

.btn-cadastro {
	width: 90%;
	
	margin: auto;
	
	font-size: 25px;
	
	transition: 0.3s all ease;
	
	background-color: #384587;
	border: none;
	border-radius: 3px;
	
	color: #F4F4F4;
	
	font-family: 'bariol';
}
.btn-cadastro:hover {
	background-color: #5865A7;
	
	cursor: pointer;
}


.header {
	height: 100px;
	width: 100%;
	
	background-color: #00afc7;
}

.titulo {
	height: 100%;
	width: 100%;
	
	font-family: 'Pier Sans';
	font-size: 22px;
	color: #666666;
	
	text-align: center;
}

.lbl-header {
	background-color: #FFFFFF;
	font-size: 70px;
	
	padding-top: 10px;
}

.lbl-cadastro {
	width: 90%;
	
	padding: 0px;
	margin: 0px;
	margin-left: 5%;
	
	font-size: 20px;
}

.bloco-box-cadastro {
	height: 450px;
	margin-top: 5%;
}

.titulo-box-bloco-cadastro {
	height: 15%;
	
	text-align: center;
	font-family: "Pier Sans";
	font-size: 50px;
	color: #FFFFFF;
	
	margin: 0px;
	padding: 0px;
}

.float-right {
	float: right;
}