</div>
<footer class="caixa-footer">
	<div class="container">
		<p class= "titulo"><BR>Dobro ou Nada</p>
		<ul class= footer-links> 
			<a href="https://github.com/GiovaniSLeite/dobroounada" class="footer-text" >Git Hub</a>
			<a href="https://c9.io/marcuscampos" class="footer-text" >Cloud9</a>
		</ul>
	</div>
</footer>